.App {
  text-align: center;
}

.container {
  padding-top: 140px;
}

.sub-container {
  height: calc(100vh - 140px);
}

.App-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #222;
  height: 100px;
  margin-bottom: 20px;
  font-size: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media screen and (max-width: 480px) {
  .App-header {
    height: 42px;
    font-size: 25px;
  }
  .container {
    padding-top: 82px;
  }
}
